<div>
    <h2>Home Page</h2>
    <button onclick="window.location.href = '/login';" style="font-size: 13pt; margin: 5pt">Sign in</button>
    <button onclick="window.location.href = '/register';" style="font-size: 13pt; margin: 5pt">Sign up</button>
</div>
