<div>
    <h2>Registration Page</h2>
    <form action="/register" method="POST">
        <input type="text" name="username" placeholder="username" style="font-size: 13pt; margin: 5pt" /><br />
        <input type="password" name="password" placeholder="password" style="font-size: 13pt; margin: 5pt" /><br />
        <button type="submit" style="font-size: 13pt; margin: 5pt">Sign up!</button>
    </form>
</div>
